:root{
    --mainColor: #0f0a09;
    --secondaryColor: #413939;

    --borderColor: #c1c1c1;
    
    --mainText: #cfcfcf;
    --bodyText: #fff;
    --devBlock: #414141;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251,249,243,0.8);
    --previewShadow: #858482;
    

    --btnSubmit: #706e6e;
}